/* COMPASS
 * ----------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* BASE
 * ----------------------------------------------- */
/* MEDIA QUERIES
 * ----------------------------------------------- */
/* ADDITIONAL RESET
 * ----------------------------------------------- */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body * {
  max-height: 99999em;
}

img {
  display: block;
  max-width: 100%;
}

input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  font: inherit;
  line-height: 1;
}

input:focus,
button:focus,
select:focus {
  outline: 0;
}

/* Make webkit render the search input like a normal text field */
input[type=search] {
  -webkit-appearance: textfield;
}

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration {
  display: none;
}

/* Turn off scroll bars in IE unless needed */
textarea {
  overflow: auto;
  white-space: pre-line;
}

@media (min-width: 1300px) {
  .container {
    max-width: 1230px;
  }
}
.dis-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* PRINTING
 * ----------------------------------------------- */
@media print {
  body {
    -webkit-print-color-adjust: exact;
  }

  html,
  body {
    margin: 0;
  }

  @page {
    margin: 0;
  }
  @page :left {
    margin: 0;
  }
  @page :right {
    margin: 0;
  }
  @page :first {
    margin-top: 0;
  }
}
/* GENERAL
 * ----------------------------------------------- */
body {
  color: #777777;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.42857;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

/* HELPERS
 * ----------------------------------------------- */
a {
  color: #777777;
  text-decoration: none;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-nowrap {
  white-space: nowrap;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.dis-flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

a:hover {
  text-decoration: none;
  color: #777777;
}

/* RESPONSIVE
 * ----------------------------------------------- */
@media print, (min-width: 769px) {
  .sm {
    display: none !important;
  }

  .trans {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transition: opacity 0.26s ease;
    -o-transition: opacity 0.26s ease;
    -webkit-transition: opacity 0.26s ease;
    transition: opacity 0.26s ease;
  }
  .trans:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
  }

  .transall {
    -moz-transition: all 0.26s ease;
    -o-transition: all 0.26s ease;
    -webkit-transition: all 0.26s ease;
    transition: all 0.26s ease;
  }
}
@media only screen and (max-width: 768px) {
  .md {
    display: none !important;
  }
}
/* PARTS
 * ----------------------------------------------- */
.main-container {
  overflow: hidden;
}

.main-header {
  position: relative;
}
.main-header:after {
  content: "";
  width: 100vw;
  height: 84px;
  position: absolute;
  top: 0;
  left: 50%;
  background: #DF1E37;
  margin-left: -580px;
}
.main-header .logo {
  padding: 8px 0;
  margin: 0 0 0 -39px;
}
.main-header .logo a {
  display: block;
  position: relative;
}
.main-header .logo a:after {
  background-color: #ffffff;
  position: absolute;
  content: "";
  display: block;
  z-index: 5;
  top: -8px;
  bottom: 0;
  width: 108px;
  height: 84px;
  left: -13px;
  border-top-right-radius: 8px;
  -webkit-transform: skew(20deg);
  -ms-transform: skew(20deg);
  transform: skew(20deg);
}
.main-header .logo a img {
  position: relative;
  z-index: 10;
  width: 80px;
}
.main-header .main-nav {
  position: relative;
  z-index: 1;
  padding: 0 20px;
}
.main-header .main-nav ul li a {
  letter-spacing: -0.5px;
  font-size: 16px;
  color: #fff;
  padding: 31px 18px;
  display: block;
}
.main-header .btn-menu {
  display: none;
}
.main-header .box-search {
  background: #fff;
  margin-right: -39px;
  position: relative;
  z-index: 1;
  height: 46px;
  width: 247px;
  display: flex;
  border-radius: 3.2px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}
.main-header .box-search input {
  display: block;
  width: 186px;
  padding: 0 0 0 16px;
  font-size: 15px;
}
.main-header .box-search input::placeholder {
  color: #DF1E37;
}
.main-header .box-search input::-ms-input-placeholder {
  color: #DF1E37;
}
.main-header .box-search input:-ms-input-placeholder {
  color: #DF1E37;
}
.main-header .box-search input::-webkit-input-placeholder {
  color: #DF1E37;
}
.main-header .box-search button {
  flex: 1;
  cursor: pointer;
  display: block;
  padding: 0 5px 0 0px;
}
.main-header .box-search button img {
  display: block;
  margin: 0 auto;
  width: 27px;
}

@media only screen and (max-width: 1200px) {
  .main-header:after {
    margin-left: -470px;
  }
  .main-header .main-nav ul li a {
    padding: 31px 10px;
  }
  .main-header .box-search {
    width: 220px;
  }
}
@media only screen and (max-width: 991px) {
  .main-header {
    background: #DF1E37;
    border-bottom: 1px solid #ffffff;
  }
  .main-header:after {
    display: none;
  }
  .main-header > .container {
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .main-header .main-nav {
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    top: calc(100% + 21px);
    z-index: 10;
    background: #DF1E37;
    opacity: 0;
    visibility: hidden;
    -moz-transition: all 0.26s ease;
    -o-transition: all 0.26s ease;
    -webkit-transition: all 0.26s ease;
    transition: all 0.26s ease;
  }
  .main-header .main-nav.active {
    opacity: 1;
    visibility: visible;
    top: calc(100% + 1px);
  }
  .main-header .main-nav ul {
    display: block;
  }
  .main-header .main-nav ul li + li {
    border-top: 1px solid #ffffff;
  }
  .main-header .main-nav ul li a {
    padding: 10px 10px;
    text-align: center;
  }
  .main-header .logo {
    margin-left: 0;
    background-color: #ffffff;
    padding: 2px 4px;
  }
  .main-header .logo a:after {
    display: none;
  }
  .main-header .logo a img {
    width: 46px;
  }
  .main-header .box-search {
    margin-right: 0;
    height: 34px;
    flex: 1;
    margin: 0 10px;
    width: auto;
  }
  .main-header .box-search input {
    width: calc(100% - 45px);
  }
  .main-header .box-search button {
    width: 45px;
  }
  .main-header .btn-menu {
    display: block;
    width: 34px;
    height: 34px;
    padding: 7px 4px;
    border: 2px solid #ffffff;
    border-radius: 3px;
  }
  .main-header .btn-menu span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
  }
  .main-header .btn-menu span + span {
    margin-top: 5px;
  }
}
.main-footer {
  padding: 84px 0 0;
}
.main-footer .ttl-inner {
  font-size: 17px;
  color: #42526E;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: -0.05em;
  margin-bottom: 29px;
}
.main-footer p {
  color: #24292e;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 21px;
}
.main-footer .item-ft a {
  display: block;
}
.main-footer .item-ft:hover span {
  color: #DF1E37;
}
.main-footer .item-ft img {
  display: block;
  margin: 0 auto 19px;
}
.main-footer .item-ft span {
  display: block;
  font-size: 14px;
  text-align: center;
  font-weight: 600;
}
.main-footer .coppy-right {
  background-color: #343a40;
  color: #f8f9fa;
  font-size: 12px;
  padding: 23px 0 18px;
}
.main-footer .coppy-right p {
  color: #ffffff;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 18px;
}

.ttl-footer {
  position: relative;
  margin-bottom: 39px;
}
.ttl-footer:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  top: 50%;
  background-color: #e51939;
  margin-top: 1px;
}
.ttl-footer span {
  display: inline-block;
  background-color: #ffffff;
  font-size: 17px;
  color: #e51939;
  position: relative;
  z-index: 1;
  padding-right: 48px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: -0.05em;
}

.item-social:hover a {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08);
}
.item-social.facebook a span {
  color: #3b5998;
}
.item-social.youtube a span {
  color: #b00;
}
.item-social a {
  display: block;
  padding: 15px;
  -moz-transition: all 0.26s ease;
  -o-transition: all 0.26s ease;
  -webkit-transition: all 0.26s ease;
  transition: all 0.26s ease;
}
.item-social a img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.item-social a span {
  display: inline-block;
  vertical-align: middle;
  font-weight: 700;
  font-size: 14px;
}

.wave-wrapper {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 130px;
  overflow: hidden;
  margin-top: 51px;
  z-index: 66;
  background-color: transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#FDF2F3), color-stop(#DF1E37), color-stop(28%, #DF1E37));
  background: -o-linear-gradient(top, #FDF2F3 0%, #DF1E37, #DF1E37 28%);
  background: linear-gradient(180deg, #fdf2f3 0%, #df1e37, #df1e37 28%);
}

.ocean {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 263px;
  left: 0;
}
.ocean.wave-bottom {
  bottom: 90px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.ocean .wave {
  content: "";
  display: block;
  position: absolute;
  bottom: 14px;
  width: 6400px;
  height: 200px;
  background: url(../img/wave-white.svg) repeat-x 0 100%;
  z-index: 10;
  -webkit-animation: wave 10s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  animation: wave 10s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.ocean .wave-1 {
  bottom: 0;
}
.ocean .wave-2 {
  -webkit-animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
}
.ocean .wave-3 {
  -webkit-animation: wave 4s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.225s infinite, swell 4s ease -1.25s infinite;
  animation: wave 4s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.225s infinite, swell 4s ease -1.25s infinite;
}

@-webkit-keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}
@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}
@-webkit-keyframes swell {
  0%, 100% {
    -webkit-transform: translate3d(0, -25px, 0);
    transform: translate3d(0, -25px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, -22px, 0);
    transform: translate3d(0, -22px, 0);
  }
}
@keyframes swell {
  0%, 100% {
    -webkit-transform: translate3d(0, -25px, 0);
    transform: translate3d(0, -25px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, -22px, 0);
    transform: translate3d(0, -22px, 0);
  }
}
.nav-footer {
  background-color: #DF1E37;
  border-top: 1px solid #c3313b;
  padding: 4px 0;
}
.nav-footer ul li {
  display: inline-block;
  padding: 15px 0;
}
.nav-footer ul li a {
  display: block;
  font-size: 12px;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin: 0 8px;
  border-bottom: 1px dashed transparent;
}
.nav-footer ul li a:hover {
  border-bottom: 1px dashed #ffffff;
}

.list-protect li {
  margin-left: 15px;
}

.btn {
  display: block;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 2px 8px;
  font-size: 11px;
  line-height: 1.5;
  border-radius: 0;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.btn-dark {
  color: #fff;
  background-color: #212529;
  border-color: #212529;
}

.btn-success {
  color: #fff;
  background-color: #54AF5D;
  border-color: #54AF5D;
}

.text-dark {
  color: #212529 !important;
}

@media only screen and (max-width: 768px) {
  .main-footer {
    padding-top: 20px;
  }
  .main-footer .ttl-footer {
    margin-bottom: 20px;
  }
  .main-footer .ttl-inner {
    margin-bottom: 10px;
  }
  .main-footer .item-ft {
    margin-bottom: 10px;
  }
  .main-footer .item-ft img {
    margin-bottom: 10px;
  }
  .main-footer [class^="col-"] {
    margin-bottom: 15px;
  }
  .main-footer p {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 16px;
  }
  .main-footer .col-lg-7 .row {
    display: block;
    margin: 0;
  }
  .main-footer .col-lg-7 .row .col {
    padding: 0;
  }
  .main-footer .col-lg-7 .row .col a {
    padding: 10px 0;
  }

  .nav-footer ul li {
    margin: 0 10px 0 0;
    padding: 10px 0;
  }
  .nav-footer ul li a {
    letter-spacing: 0;
    margin: 0;
  }

  .list-protect li {
    margin: 0 10px 10px 0;
  }
}
/* PAGES
 * ----------------------------------------------- */
/** section keyvisual */
.section-keyvisual {
  background: url(../img/img_keyvisual.jpg) no-repeat top center/cover;
  padding: 1px 0;
}
.section-keyvisual .content-key {
  margin: 218px 0 193px 0;
  width: 100%;
  max-width: 520px;
}
.section-keyvisual p {
  font-size: 16px;
  line-height: 24px;
  color: #777777;
  margin-bottom: 24px;
}

.ttl-cmn {
  font-weight: 600;
  color: #273242;
  font-size: 35px;
  margin-bottom: 41px;
}
.ttl-cmn span {
  display: inline-block;
  border-bottom: 3px solid #DF1E37;
  padding-bottom: 11px;
}

.viewmore {
  display: inline-block;
  background: #DF1E37;
  padding: 10px 27px;
  border-radius: 30px;
  margin: 16px 0 0 0;
}
.viewmore span {
  display: block;
  background: url(../img/icon-arrow01.png) no-repeat right center/9px auto;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  padding: 0 16px 0 0;
}

/** section infor */
.section-infor .block-infor .ttl-cmn {
  margin-bottom: 50px;
}
.section-infor .top-infor {
  background: url(../img/infor.png) no-repeat top center;
  padding: 144px 0 66px;
}
.section-infor .bot-infor {
  padding-bottom: 100px;
  margin-top: -66px;
}
.section-infor .block-student {
  margin-bottom: 240px;
}
.section-infor .avatar {
  display: block;
  margin: 0 auto 52px;
  width: 205px;
  position: relative;
}
.section-infor .avatar img {
  width: 100%;
  border-radius: 300px;
}
.section-infor .avatar .edit {
  background: #DF1E37 url(../img/edit.png) no-repeat center center/24px auto;
  border-radius: 30px;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
}
.section-infor .name {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.section-infor .name span {
  text-transform: none;
  display: block;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  margin-top: 8px;
}
.section-infor .text-infor {
  text-align: center;
  font-size: 25px;
  color: #ffffff;
  font-weight: 400;
}
.section-infor .text-infor span, .section-infor .text-infor a {
  margin: 0 33px;
}

.box-experience {
  margin-top: 29px;
}

.box-infor {
  border: 1px solid #999;
  border-radius: 10px;
}
.box-infor .head-infor {
  position: relative;
  border-bottom: 1px solid #999;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 22px;
  color: #333;
  padding: 5px 2px 5px 124px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 109px;
}
.box-infor .head-infor img {
  position: absolute;
  top: 50%;
  left: 34px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.box-infor .body-infor {
  padding: 16px 29px 11px;
}
.box-infor .body-infor table {
  font-size: 20px;
  color: #333333;
  width: 100%;
}
.box-infor .body-infor table.tabble2 {
  max-width: 640px;
}
.box-infor .body-infor table.tabble2 {
  max-width: 900px;
}
.box-infor .body-infor table tr th {
  font-weight: 600;
  text-align: left;
  padding: 9px 0 10px;
}
.box-infor .body-infor table tr td {
  text-align: center;
  font-weight: 400;
  padding: 9px 25px 10px 0px;
}

.section-course {
  background: #efefef;
  padding: 100px 0 115px;
}

.list-course {
  padding-top: 18px;
}

.item-course {
  border-radius: 10px;
  overflow: hidden;
  background: #ffffff;
}
.item-course:hover {
  box-shadow: 0px 8px 15px rgba(20, 17, 54, 0.1);
}
.item-course img {
  width: 100%;
  display: block;
}
.item-course .content {
  padding: 20px 15px 27px;
}
.item-course .ttl-item {
  color: #333333;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  margin-bottom: 24px;
}
.item-course a {
  font-style: italic;
  font-weight: 500;
  color: #DF1E37;
  font-size: 16px;
}

.section-purpose {
  background: url(../img/img-course.jpg) no-repeat top center/cover;
  text-align: center;
  padding: 204px 0 201px;
}
.section-purpose .inner {
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
}
.section-purpose .ttl-purpose {
  color: #ffffff;
  font-weight: 600;
  font-size: 40px;
  line-height: 65px;
  margin-bottom: 27px;
}
.section-purpose p {
  font-size: 25px;
  font-weight: 500;
  line-height: 37px;
  color: #ffffff;
  margin-bottom: 45px;
}
.section-purpose .link-purpose {
  display: inline-block;
  border: 1px solid #ffffff;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  border-radius: 30px;
  text-transform: uppercase;
  padding: 9px 26px;
}

@media only screen and (max-width: 1200px) {
  .ttl-cmn {
    font-size: 28px;
    margin-bottom: 30px;
  }
  .ttl-cmn span {
    border-bottom: 2px solid #DF1E37;
    padding-bottom: 5px;
  }

  .section-infor .top-infor {
    padding: 40px 0;
  }
  .section-infor .bot-infor {
    padding-top: 40px;
    margin-top: 0;
  }
  .section-infor .avatar {
    margin-bottom: 20px;
    width: 150px;
  }
  .section-infor .name {
    font-size: 30px;
  }
  .section-infor .name span {
    font-size: 80%;
  }
  .section-infor .text-infor {
    font-size: 18px;
  }
  .section-infor .block-student {
    margin-bottom: 20px;
  }

  .box-infor .head-infor {
    padding-left: 80px;
  }
  .box-infor .head-infor img {
    left: 5px;
  }
  .box-infor .body-infor {
    padding: 16px 15px 11px;
  }
  .box-infor .body-infor table {
    font-size: 18px;
  }
  .box-infor .body-infor table tr td {
    padding-right: 0;
  }
}
@media only screen and (max-width: 991px) {
  .section-infor .bot-infor {
    padding-bottom: 20px;
  }
  .section-infor .bot-infor .block-infor .ttl-cmn {
    margin-bottom: 20px;
  }
  .section-infor .bot-infor .block-infor .row [class^="col-"] {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .section-keyvisual {
    background: #f5f5f5 url(../img/img_keyvisual-sm.jpg) no-repeat bottom center/100% auto;
    padding: 1px 0 50%;
  }
  .section-keyvisual .content-key {
    margin: 20px 0;
  }
  .section-keyvisual p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
  }

  .ttl-cmn {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .viewmore {
    padding: 7px 20px;
    margin: 10px 0 0 0;
  }
  .viewmore span {
    display: block;
    background: url(../img/icon-arrow01.png) no-repeat right center/5px auto;
    font-size: 14px;
    padding: 0 10px 0 0;
  }

  .section-infor .top-infor {
    padding: 20px 0;
  }
  .section-infor .bot-infor {
    padding-top: 20px;
  }
  .section-infor .bot-infor .block-infor .ttl-cmn {
    margin-bottom: 0;
  }
  .section-infor .avatar {
    margin-bottom: 20px;
    width: 100px;
  }
  .section-infor .avatar .edit {
    background: #DF1E37 url(../img/edit.png) no-repeat center center/13px auto;
    width: 30px;
    height: 30px;
  }
  .section-infor .name {
    font-size: 20px;
  }
  .section-infor .name span {
    font-size: 80%;
  }
  .section-infor .text-infor {
    font-size: 14px;
  }
  .section-infor .text-infor span, .section-infor .text-infor a {
    margin: 0 5px;
    display: inline-block;
  }
  .section-infor .block-student {
    margin-bottom: 20px;
  }

  .box-infor .head-infor {
    padding-left: 50px;
    font-size: 16px;
    height: 60px;
  }
  .box-infor .head-infor img {
    width: 30px;
  }
  .box-infor .body-infor {
    padding: 5px 10px;
  }
  .box-infor .body-infor table {
    font-size: 14px;
  }
  .box-infor .body-infor table tr th, .box-infor .body-infor table tr td {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .box-infor .body-infor table tr th {
    width: 45%;
  }
  .box-infor .body-infor table tr td {
    text-align: left;
    padding-left: 5px;
  }

  .section-course {
    padding: 20px 0;
  }

  .item-course {
    margin-bottom: 20px;
  }
  .item-course .content {
    padding: 10px;
  }
  .item-course .ttl-item {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 5px;
  }
  .item-course a {
    font-size: 12px;
  }

  .section-purpose {
    padding: 20px 0;
  }
  .section-purpose .ttl-purpose {
    font-size: 18px;
    line-height: 1.4;
  }
  .section-purpose p {
    font-size: 14px;
    line-height: 1.3;
    margin-bottom: 20px;
  }
  .section-purpose .link-purpose {
    font-size: 14px;
    padding: 5px 10px;
  }
}
.section-form {
  padding: 158px 0 160px;
  background: #cfd6de;
  background: -moz-linear-gradient(top, #cfd6de 0%, #f6f7f9 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #cfd6de), color-stop(100%, #f6f7f9));
  background: -webkit-linear-gradient(top, #cfd6de 0%, #f6f7f9 100%);
  background: -o-linear-gradient(top, #cfd6de 0%, #f6f7f9 100%);
  background: -ms-linear-gradient(top, #cfd6de 0%, #f6f7f9 100%);
  background: linear-gradient(to bottom, #cfd6de 0%, #f6f7f9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfd6de', endColorstr='#f6f7f9', GradientType=0 );
}

.content-form {
  max-width: 936px;
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
}
.content-form .head-tab.ttl {
  text-align: center;
  display: block;
  color: #666666;
  font-weight: 400;
  font-size: 24px;
  background-color: #eeeeee;
  padding: 19px 0 17px;
}
.content-form .head-tab ul li {
  width: 50%;
}
.content-form .head-tab ul li.active a {
  background-color: #ffffff;
  font-weight: 600;
}
.content-form .head-tab ul li a {
  text-align: center;
  display: block;
  color: #666666;
  font-weight: 400;
  font-size: 24px;
  background-color: #eeeeee;
  padding: 19px 0 17px;
}
.content-form .body-tab .content-tab {
  display: none;
  padding: 60px 93px 62px;
}
.content-form .body-tab .content-tab.active {
  display: block;
}
.content-form .body-tab .content-tab .ttl-signup {
  text-align: center;
  color: #666666;
  font-size: 26px;
  line-height: 1.46154;
  font-weight: 600;
  margin-bottom: 5px;
}
.content-form .body-tab .content-tab .require {
  margin: 74px 0 -18px;
  font-size: 16px;
  line-height: 1.5;
  color: #666666;
}
.content-form .body-tab .content-tab .require b, .content-form .body-tab .content-tab .require strong {
  font-weight: 600;
}
.content-form .body-tab .content-tab .sumary {
  text-align: center;
  color: #666666;
  font-size: 16px;
  font-weight: 400;
}
.content-form .body-tab .content-tab .list-form {
  padding-top: 15px;
}
.content-form .body-tab .content-tab .list-form .col-two-item {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.content-form .body-tab .content-tab .list-form .col-two-item .form-cover {
  width: 46%;
}
.content-form .body-tab .content-tab .list-form .form-cover {
  margin-top: 44px;
}
.content-form .body-tab .content-tab .list-form .form-cover.form-checbox {
  margin-top: 31px;
}
.content-form .body-tab .content-tab .list-form .form-cover .label-text {
  margin-bottom: 10px;
  display: block;
  font-size: 18px;
  font-weight: 600;
  color: #666666;
}
.content-form .body-tab .content-tab .list-form .form-cover .input-control {
  display: block;
  width: 100%;
  font-size: 16px;
  border-bottom: 1px solid #333333;
  letter-spacing: -0.006em;
  padding: 6px 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  outline: none;
  font-weight: 400;
}
.content-form .body-tab .content-tab .list-form .form-cover .input-control.italic {
  font-style: italic;
}
.content-form .body-tab .content-tab .list-form .form-cover .input-control:focus {
  font-style: normal;
}
.content-form .body-tab .content-tab .list-form .form-cover .label-checkbox {
  display: block;
}
.content-form .body-tab .content-tab .list-form .form-cover .label-checkbox input {
  display: none;
}
.content-form .body-tab .content-tab .list-form .form-cover .label-checkbox input:checked + span:before, .content-form .body-tab .content-tab .list-form .form-cover .label-checkbox input:checked p:before {
  display: block;
}
.content-form .body-tab .content-tab .list-form .form-cover .label-checkbox span, .content-form .body-tab .content-tab .list-form .form-cover .label-checkbox p {
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  color: #666666;
  font-weight: 500;
  position: relative;
  padding-left: 31px;
  line-height: 1.4;
}
.content-form .body-tab .content-tab .list-form .form-cover .label-checkbox span a, .content-form .body-tab .content-tab .list-form .form-cover .label-checkbox p a {
  font-weight: 600;
  color: #666666;
}
.content-form .body-tab .content-tab .list-form .form-cover .label-checkbox span:after, .content-form .body-tab .content-tab .list-form .form-cover .label-checkbox p:after {
  position: absolute;
  content: "";
  top: -1px;
  left: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #979797;
  border-radius: 3px;
  background-color: #eeeeee;
}
.content-form .body-tab .content-tab .list-form .form-cover .label-checkbox span:before, .content-form .body-tab .content-tab .list-form .form-cover .label-checkbox p:before {
  position: absolute;
  content: "";
  top: 3px;
  left: 2px;
  width: 15px;
  height: 8px;
  display: none;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  z-index: 1;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.content-form .body-tab .content-tab .list-form .btn-subbmit {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  display: block;
  width: 100%;
  font-size: 18px;
  color: #DF1E37;
  border: 1px solid #DF1E37;
  border-radius: 30px;
  padding: 13px 0 12px;
  font-weight: 600;
  cursor: pointer;
  outline: none;
}
.content-form .body-tab .content-tab .list-form .form-submit {
  margin-top: 45px;
}
.content-form .body-tab .content-tab .list-form .forgot-password {
  text-align: center;
  margin-top: 18px;
}
.content-form .body-tab .content-tab .list-form .forgot-password a {
  font-size: 16px;
  color: #666666;
}

@media only screen and (max-width: 991px) {
  .section-form {
    padding: 50px 0;
  }

  .content-form .head-tab.ttl {
    font-size: 16px;
    padding: 10px 0;
  }
  .content-form .head-tab ul li a {
    font-size: 16px;
    padding: 10px 0;
  }
  .content-form .body-tab .content-tab {
    padding: 20px;
  }
  .content-form .body-tab .content-tab .ttl-signup {
    font-size: 16px;
  }
  .content-form .body-tab .content-tab .sumary {
    font-size: 14px;
  }
  .content-form .body-tab .content-tab .require {
    font-size: 14px;
    margin: 20px 0 -18px;
  }
  .content-form .body-tab .content-tab .list-form .form-cover {
    margin-top: 20px;
  }
  .content-form .body-tab .content-tab .list-form .form-cover .label-text {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .content-form .body-tab .content-tab .list-form .form-cover .input-control {
    font-size: 14px;
  }
  .content-form .body-tab .content-tab .list-form .btn-subbmit {
    font-size: 14px;
    padding: 8px 0;
  }
  .content-form .body-tab .content-tab .list-form .forgot-password a {
    font-size: 14px;
  }
}
@media only screen and (max-width: 768px) {
  .content-form .body-tab .content-tab .list-form .form-submit {
    margin-top: 20px;
  }
  .content-form .body-tab .content-tab .list-form .col-two-item .form-cover {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
