@charset "utf-8"
.section-form
	padding: 158px 0 160px
	background: rgba(207,214,222,1)
	background: -moz-linear-gradient(top, rgba(207,214,222,1) 0%, rgba(246,247,249,1) 100%)
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(207,214,222,1)), color-stop(100%, rgba(246,247,249,1)))
	background: -webkit-linear-gradient(top, rgba(207,214,222,1) 0%, rgba(246,247,249,1) 100%)
	background: -o-linear-gradient(top, rgba(207,214,222,1) 0%, rgba(246,247,249,1) 100%)
	background: -ms-linear-gradient(top, rgba(207,214,222,1) 0%, rgba(246,247,249,1) 100%)
	background: linear-gradient(to bottom, rgba(207,214,222,1) 0%, rgba(246,247,249,1) 100%)
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfd6de', endColorstr='#f6f7f9', GradientType=0 )

.content-form
	max-width: 936px
	width: 100%
	margin: 0 auto
	background-color: #ffffff
	border-radius: 10px
	overflow: hidden
	.head-tab
		&.ttl
			text-align: center
			display: block
			color: #666666
			font-weight: 400
			font-size: 24px
			background-color: #eeeeee
			padding: 19px 0 17px
		ul
			li
				width: 50%
				&.active
					a
						background-color: #ffffff
						font-weight: 600
				a
					text-align: center
					display: block
					color: #666666
					font-weight: 400
					font-size: 24px
					background-color: #eeeeee
					padding: 19px 0 17px
	.body-tab
		.content-tab
			display: none
			padding: 60px 93px 62px
			&.active
				display: block
			.ttl-signup
				text-align: center
				color: #666666
				font-size: 26px
				line-height: 1.461538
				font-weight: 600
				margin-bottom: 5px
			.require
				margin: 74px 0 -18px
				font-size: 16px
				line-height: 1.5
				color: #666666
				b,strong
					font-weight: 600
			.sumary
				text-align: center
				color: #666666
				font-size: 16px
				font-weight: 400
			.list-form
				padding-top: 15px
				.col-two-item
					-webkit-box-pack: justify
					-ms-flex-pack: justify
					justify-content: space-between
					.form-cover
						width: 46%

				.form-cover
					margin-top: 44px
					&.form-checbox
						margin-top: 31px
					.label-text
						margin-bottom: 10px
						display: block
						font-size: 18px
						font-weight: 600
						color: #666666
					.input-control
						display: block
						width: 100%
						font-size: 16px
						border-bottom: 1px solid #333333
						letter-spacing: -0.006em
						padding: 6px 0
						-webkit-appearance: none
						-moz-appearance: none
						-ms-appearance: none
						-o-appearance: none
						appearance: none
						-webkit-border-radius: 0
						-khtml-border-radius: 0
						-moz-border-radius: 0
						-ms-border-radius: 0
						-o-border-radius: 0
						border-radius: 0
						outline: none
						font-weight: 400

						&.italic
							font-style: italic
						&:focus
							font-style: normal
					.label-checkbox
						display: block
						input
							display: none
							&:checked
								+ span,p
									&:before
										display: block
						span,p
							display: inline-block
							cursor: pointer
							font-size: 14px
							color: #666666
							font-weight: 500
							position: relative
							padding-left: 31px
							line-height: 1.4
							a
								font-weight: 600
								color: #666666
							&:after
								position: absolute
								content: ""
								top: -1px
								left: 0
								width: 20px
								height: 20px
								border: 1px solid #979797
								border-radius: 3px
								background-color: #eeeeee
							&:before
								position: absolute
								content: ""
								top: 3px
								left: 2px
								width: 15px
								height: 8px
								display: none
								border-left: 2px solid #000
								border-bottom: 2px solid #000
								z-index: 1
								-webkit-transform: rotate(-45deg)
								-ms-transform: rotate(-45deg)
								transform: rotate(-45deg)
				.btn-subbmit
					-webkit-appearance: none
					-moz-appearance: none
					-ms-appearance: none
					-o-appearance: none
					appearance: none
					-webkit-border-radius: 0
					-khtml-border-radius: 0
					-moz-border-radius: 0
					-ms-border-radius: 0
					-o-border-radius: 0
					border-radius: 0
					display: block
					width: 100%
					font-size: 18px
					color: #DF1E37
					border: 1px solid #DF1E37
					border-radius: 30px
					padding: 13px 0 12px
					font-weight: 600
					cursor: pointer
					outline: none
				.form-submit
					margin-top: 45px
				.forgot-password
					text-align: center
					margin-top: 18px
					a
						font-size: 16px
						color: #666666
@media only screen and(max-width: 1200px)

@media only screen and(max-width: 991px)
	.section-form
		padding: 50px 0
	.content-form
		.head-tab
			&.ttl
				font-size: 16px
				padding: 10px 0
			ul
				li
					a
						font-size: 16px
						padding: 10px 0
		.body-tab
			.content-tab
				padding: 20px
				.ttl-signup
					font-size: 16px
				.sumary
					font-size: 14px
				.require
					font-size: 14px
					margin: 20px 0 -18px
				.list-form
					.form-cover
						margin-top: 20px
						.label-text
							font-size: 14px
							margin-bottom: 5px
						.input-control
							font-size: 14px
					.btn-subbmit
						font-size: 14px
						padding: 8px 0
					.forgot-password
						a
							font-size: 14px


@media only screen and(max-width: 768px)
	.content-form
		.body-tab
			.content-tab
				.list-form
					.form-submit
						margin-top: 20px
					.col-two-item
						.form-cover
							width: 100%