@charset "utf-8"
/** section keyvisual **/
.section-keyvisual
	background: url(../img/img_keyvisual.jpg) no-repeat top center / cover
	padding: 1px 0
	.content-key
		margin: 218px 0 193px 0
		width: 100%
		max-width: 520px

	p
		font-size: 16px
		line-height: 24px
		color: #777777
		margin-bottom: 24px
.ttl-cmn
	font-weight: 600
	color: #273242
	font-size: 35px
	margin-bottom: 41px

	span
		display: inline-block
		border-bottom: 3px solid #DF1E37
		padding-bottom: 11px
.viewmore
	display: inline-block
	background: #DF1E37
	padding: 10px 27px
	border-radius: 30px
	margin: 16px 0 0 0
	span
		display: block
		background: url(../img/icon-arrow01.png) no-repeat right center / 9px auto
		font-size: 18px
		font-weight: 600
		color: #ffffff
		text-transform: uppercase
		padding: 0 16px 0 0
/** section infor **/
.section-infor
	.block-infor
		.ttl-cmn
			margin-bottom: 50px
	.top-infor
		background: url(../img/infor.png) no-repeat top center
		padding: 144px 0 66px
	.bot-infor
		padding-bottom: 100px
		margin-top: -66px
	.block-student
		margin-bottom: 240px
	.avatar
		display: block
		margin: 0 auto 52px
		width: 205px
		position: relative
		img
			width: 100%
			border-radius: 300px
		.edit
			background: #DF1E37 url(../img/edit.png) no-repeat center center / 24px auto
			border-radius: 30px
			position: absolute
			right: 0
			bottom: 0
			width: 50px
			height: 50px
	.name
		text-align: center
		font-size: 40px
		font-weight: 600
		color: #ffffff
		text-transform: uppercase
		margin-bottom: 12px
		span
			text-transform: none
			display: block
			text-align: center
			font-size: 30px
			font-weight: 500
			margin-top: 8px
	.text-infor
		text-align: center
		font-size: 25px
		color: #ffffff
		font-weight: 400
		span,a
			margin: 0 33px
.box-experience
	margin-top: 29px
.box-infor
	border: 1px solid #999
	border-radius: 10px
	.head-infor
		position: relative
		border-bottom: 1px solid #999
		text-transform: uppercase
		font-weight: 600
		font-size: 22px
		color: #333
		padding: 5px 2px 5px 124px
		display: -webkit-box
		display: -ms-flexbox
		display: flex
		-webkit-box-align: center
		-ms-flex-align: center
		align-items: center
		height: 109px
		img
			position: absolute
			top: 50%
			left: 34px
			-webkit-transform: translate(0, -50%)
			-ms-transform: translate(0, -50%)
			-o-transform: translate(0, -50%)
			transform: translate(0, -50%)
	.body-infor
		padding: 16px 29px 11px
		table
			font-size: 20px
			color: #333333
			width: 100%
			&.tabble2
				max-width: 640px
			&.tabble2
				max-width: 900px
			tr
				th
					font-weight: 600
					text-align: left
					padding: 9px 0 10px

				td
					text-align: center
					font-weight: 400
					padding: 9px 25px 10px 0px
.section-course
	background: #efefef
	padding: 100px 0 115px
.list-course
	padding-top: 18px
.item-course
	border-radius: 10px
	overflow: hidden
	background: #ffffff
	&:hover
		box-shadow: 0px 8px 15px rgba(20, 17, 54, 0.1)
	img
		width: 100%
		display: block
	.content
		padding: 20px 15px 27px
	.ttl-item
		color: #333333
		font-size: 16px
		line-height: 24px
		font-weight: 600
		margin-bottom: 24px
	a
		font-style: italic
		font-weight: 500
		color: #DF1E37
		font-size: 16px
.section-purpose
	background: url(../img/img-course.jpg) no-repeat top center / cover
	text-align: center
	padding: 204px 0 201px
	.inner
		width: 100%
		max-width: 950px
		margin: 0 auto
	.ttl-purpose
		color: #ffffff
		font-weight: 600
		font-size: 40px
		line-height: 65px
		margin-bottom: 27px
	p
		font-size: 25px
		font-weight: 500
		line-height: 37px
		color: #ffffff
		margin-bottom: 45px
	.link-purpose
		display: inline-block
		border: 1px solid #ffffff
		font-size: 18px
		font-weight: 400
		color: #ffffff
		border-radius: 30px
		text-transform: uppercase
		padding: 9px 26px

@media only screen and(max-width: 1200px)
	.ttl-cmn
		font-size: 28px
		margin-bottom: 30px
		span
			border-bottom: 2px solid #DF1E37
			padding-bottom: 5px
	.section-infor
		.top-infor
			padding: 40px 0
		.bot-infor
			padding-top: 40px
			margin-top: 0
		.avatar
			margin-bottom: 20px
			width: 150px
		.name
			font-size: 30px
			span
				font-size: 80%
		.text-infor
			font-size: 18px
		.block-student
			margin-bottom: 20px
	.box-infor
		.head-infor
			padding-left: 80px
			img
				left: 5px
		.body-infor
			padding: 16px 15px 11px
			table
				font-size: 18px
				tr
					td
						padding-right: 0
@media only screen and(max-width: 991px)
	.section-infor
		.bot-infor
			padding-bottom: 20px
			.block-infor
				.ttl-cmn
					margin-bottom: 20px
				.row
					[class^="col-"]
						margin-top: 20px

@media only screen and(max-width: 768px)
	.section-keyvisual
		background: #f5f5f5 url(../img/img_keyvisual-sm.jpg) no-repeat bottom center / 100% auto
		padding: 1px 0 50%
		.content-key
			margin: 20px 0

		p
			font-size: 14px
			line-height: 20px
			margin-bottom: 20px
	.ttl-cmn
		font-size: 18px
		margin-bottom: 20px


	.viewmore
		padding: 7px 20px
		margin: 10px 0 0 0
		span
			display: block
			background: url(../img/icon-arrow01.png) no-repeat right center / 5px auto
			font-size: 14px
			padding: 0 10px 0 0

	.section-infor

		.top-infor
			padding: 20px 0
		.bot-infor
			padding-top: 20px
			.block-infor
				.ttl-cmn
					margin-bottom: 0
		.avatar
			margin-bottom: 20px
			width: 100px
			.edit
				background: #DF1E37 url(../img/edit.png) no-repeat center center/13px auto
				width: 30px
				height: 30px

		.name
			font-size: 20px
			span
				font-size: 80%
		.text-infor
			font-size: 14px
			span,a
				margin: 0 5px
				display: inline-block
		.block-student
			margin-bottom: 20px
	.box-infor
		.head-infor
			padding-left: 50px
			font-size: 16px
			height: 60px
			img
				width: 30px
		.body-infor
			padding: 5px 10px
			table
				font-size: 14px
				tr
					th,td
						padding-top: 5px
						padding-bottom: 5px
					th
						width: 45%
					td
						text-align: left
						padding-left: 5px
	.section-course
		padding: 20px 0
	.item-course
		margin-bottom: 20px
		.content
			padding: 10px
		.ttl-item
			font-size: 14px
			line-height: 1.4
			margin-bottom: 5px
		a
			font-size: 12px
	.section-purpose
		padding: 20px 0
		.ttl-purpose
			font-size: 18px
			line-height: 1.4
		p
			font-size: 14px
			line-height: 1.3
			margin-bottom: 20px
		.link-purpose
			font-size: 14px
			padding: 5px 10px