@charset "utf-8"
.main-footer
  padding: 84px 0 0
  .ttl-inner
    font-size: 17px
    color: #42526E
    text-transform: uppercase
    font-weight: 600
    letter-spacing: -0.05em
    margin-bottom: 29px
  p
    color: #24292e
    font-size: 16px
    line-height: 26px
    margin-bottom: 21px
  .item-ft
    a
      display: block
    &:hover
      span
        color: #DF1E37
    img
      display: block
      margin: 0 auto 19px
    span
      display: block
      font-size: 14px
      text-align: center
      font-weight: 600
  .coppy-right
    background-color: #343a40
    color: #f8f9fa
    font-size: 12px
    padding: 23px 0 18px
    p
      color: #ffffff
      margin-bottom: 0
      font-size: 12px
      line-height: 18px
.ttl-footer
  position: relative
  margin-bottom: 39px
  &:after
    content: ""
    position: absolute
    width: 100%
    height: 1px
    left: 0
    top: 50%
    background-color: #e51939
    margin-top: 1px

  span
    display: inline-block
    background-color: #ffffff
    font-size: 17px
    color: #e51939
    position: relative
    z-index: 1
    padding-right: 48px
    text-transform: uppercase
    font-weight: 600
    letter-spacing: -0.05em
.item-social
  &:hover
    a
      -webkit-transform: translateY(-5px)
      transform: translateY(-5px)
      -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08)
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08)

  &.facebook
    a
      span
        color: #3b5998
  &.youtube
    a
      span
        color: #b00

  a
    display: block
    padding: 15px
    +transition(all .26s ease)
    img
      display: inline-block
      vertical-align: middle
      margin-right: 5px
    span
      display: inline-block
      vertical-align: middle
      font-weight: 700
      font-size: 14px
.wave-wrapper
  position: relative
  bottom: 0
  width: 100%
  height: 130px
  overflow: hidden
  margin-top: 51px
  z-index: 66
  background-color: transparent
  background: -webkit-gradient(linear, left top, left bottom, from(#FDF2F3), color-stop(#DF1E37), color-stop(28%, #DF1E37))
  background: -o-linear-gradient(top, #FDF2F3 0%, #DF1E37, #DF1E37 28%)
  background: linear-gradient(180deg, #FDF2F3 0%, #DF1E37, #DF1E37 28%)

.ocean
  &.wave-bottom
    bottom: 90px
    -webkit-transform: rotate(180deg)
    transform: rotate(180deg)

  overflow: hidden
  position: relative
  width: 100%
  height: 263px
  left: 0

  .wave
    content: ""
    display: block
    position: absolute
    bottom: 14px
    width: 6400px
    height: 200px
    background: url(../img/wave-white.svg) repeat-x 0 100%
    z-index: 10
    -webkit-animation: wave 10s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite
    animation: wave 10s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite
    -webkit-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)
  .wave-1
    bottom: 0

  .wave-2
    -webkit-animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite

  .wave-3
    -webkit-animation: wave 4s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.225s infinite, swell 4s ease -1.25s infinite
    animation: wave 4s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.225s infinite, swell 4s ease -1.25s infinite


@-webkit-keyframes wave
  0%
    margin-left: 0

  100%
    margin-left: -1600px

@keyframes wave
  0%
    margin-left: 0

  100%
    margin-left: -1600px

@-webkit-keyframes swell
  0%, 100%
    -webkit-transform: translate3d(0, -25px, 0)
    transform: translate3d(0, -25px, 0)

  50%
    -webkit-transform: translate3d(0, -22px, 0)
    transform: translate3d(0, -22px, 0)

@keyframes swell
  0%, 100%
    -webkit-transform: translate3d(0, -25px, 0)
    transform: translate3d(0, -25px, 0)

  50%
    -webkit-transform: translate3d(0, -22px, 0)
    transform: translate3d(0, -22px, 0)
.nav-footer
  background-color: #DF1E37
  border-top: 1px solid #c3313b
  padding: 4px 0
  ul
    li
      display: inline-block
      padding: 15px 0
      a
        display: block
        font-size: 12px
        color: #ffffff
        font-weight: 700
        letter-spacing: 0.5px
        margin: 0 8px
        border-bottom: 1px dashed transparent
        &:hover
          border-bottom: 1px dashed #ffffff
.list-protect
  li
    margin-left: 15px

.btn
  display: block
  font-weight: 600
  color: #ffffff
  text-align: center
  vertical-align: middle
  cursor: pointer
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  background-color: transparent
  border: 1px solid transparent
  padding: 2px 8px
  font-size: 11px
  line-height: 1.5
  border-radius: 0
  -webkit-transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out
  transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out
  transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out
  transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out
.btn-dark
  color: #fff
  background-color: #212529
  border-color: #212529
.btn-success
  color: #fff
  background-color: #54AF5D
  border-color: #54AF5D
.text-dark
  color: #212529 !important
@media only screen and(max-width: 768px)
  .main-footer
    padding-top: 20px
    .ttl-footer
      margin-bottom: 20px
    .ttl-inner
      margin-bottom: 10px
    .item-ft
      margin-bottom: 10px
      img
        margin-bottom: 10px
    [class^="col-"]
      margin-bottom: 15px
    p
      font-size: 14px
      line-height: 1.4
      margin-bottom: 16px
    .col-lg-7
      .row
        display: block
        margin: 0
        .col
          padding: 0
          a
            padding: 10px 0
  .nav-footer
    ul
      li
        margin: 0 10px 0 0
        padding: 10px 0
        a
          letter-spacing: 0
          margin: 0
  .list-protect
    li
      margin: 0 10px 10px 0