@charset "utf-8"
.main-container
	overflow: hidden
.main-header
	position: relative
	&:after
		content: ""
		width: 100vw
		height: 84px
		position: absolute
		top: 0
		left: 50%
		background: #DF1E37
		margin-left: -580px
	.logo
		padding: 8px 0
		margin: 0 0 0 -39px

		a
			display: block
			position: relative
			&:after
				background-color: #ffffff
				position: absolute
				content: ""
				display: block
				z-index: 5
				top: -8px
				bottom: 0
				width: 108px
				height: 84px
				left: -13px
				border-top-right-radius: 8px
				-webkit-transform: skew(20deg)
				-ms-transform: skew(20deg)
				transform: skew(20deg)

			img
				position: relative
				z-index: 10
				width: 80px
	.main-nav
		position: relative
		z-index: 1
		padding: 0 20px
		ul
			li
				a
					letter-spacing: -.5px
					font-size: 16px
					color: #fff
					padding: 31px 18px
					display: block
	.btn-menu
		display: none
	.box-search
		background: #fff
		margin-right: -39px
		position: relative
		z-index: 1
		height: 46px
		width: 247px
		display: flex
		border-radius: 3.2px
		-ms-flex-item-align: center
		-ms-grid-row-align: center
		align-self: center
		input
			display: block
			width: 186px
			padding: 0 0 0 16px
			font-size: 15px
			&::placeholder
				color: #DF1E37
			&::-ms-input-placeholder
				color: #DF1E37
			&:-ms-input-placeholder
				color: #DF1E37
			&::-webkit-input-placeholder
				color: #DF1E37
		button
			flex: 1
			cursor: pointer
			display: block
			padding: 0 5px 0 0px
			img
				display: block
				margin: 0 auto
				width: 27px
@media only screen and(max-width: 1200px)
	.main-header
		&:after
			margin-left: -470px
		.main-nav
			ul
				li
					a
						padding: 31px 10px
		.box-search
			width: 220px
@media only screen and(max-width: 991px)
	.main-header
		background: #DF1E37
		border-bottom: 1px solid #ffffff
		&:after
			display: none
		> .container
			-ms-flex-align: center
			+align-items(center)
		.main-nav
			display: block
			position: absolute
			width: 100%
			left: 0
			top: calc(100% + 21px)
			z-index: 10
			background: #DF1E37
			opacity: 0
			visibility: hidden
			+transition(all .26s ease)
			&.active
				opacity: 1
				visibility: visible
				top: calc(100% + 1px)

			ul
				display: block

				li
					+ li
						border-top: 1px solid #ffffff
					a
						padding: 10px 10px
						text-align: center
		.logo
			margin-left: 0
			background-color: #ffffff
			padding: 2px 4px
			a
				&:after
					display: none
				img
					width: 46px
		.box-search
			margin-right: 0
			height: 34px
			flex: 1
			margin: 0 10px
			width: auto
			input
				width: calc(100% - 45px)

			button
				width: 45px
		.btn-menu
			display: block
			width: 34px
			height: 34px
			padding: 7px 4px
			border: 2px solid #ffffff
			border-radius: 3px
			span
				display: block
				width: 100%
				height: 2px
				background-color: #ffffff
				+ span
					margin-top: 5px

