extends _layouts/default

block vars
  -title        = 'title'
  -description  = 'description'
  -keywords     = 'keywords'
  -pageID       = 'top'
  -path         = '.'


block wrapper
  | &#x9;
  section.section-form
    .container
      .content-form
        .head-tab
          ul.dis-flex
            li.active
              a.js-tab(href="#link01" data-tab="tab-form") Tạo tài khoản
            li
              a.js-tab(href="#link02" data-tab="tab-form") Đăng nhập
        .body-tab
          .content-tab.tab-form#link01.active
            h2.ttl-signup CHÀO MỪNG ĐẾN KHOÁ ĐÀO TẠO - NGÀY ĐẦU TIÊN
            p.sumary đăng kí để tạo tài khoản của bạn và nhập học.
            p.require
              | Vui lòng điền vào những mục sau để đăng ký tài khoản.
              br
              | Các thông tin bắt buộc được đánh dấu bằng
              strong  dấu hoa thị (*).

            .list-form
              form(action="#")
                .form-cover
                  label.label-text Tên đăng nhập*:
                  input.input-control.italic(type="text" name="id" placeholder="Đây là Tên đăng nhập/ Địa chỉ Email hoặc số điện thoại mà bạn đã sử dụng để đăng ký" value="")
                .dis-flex.col-two-item
                  .form-cover
                    label.label-text Email:
                    input.input-control(type="text" name="email" placeholder="nguyen.thao91@gmail.com" value="")
                  .form-cover
                    label.label-text Số điện thoại:
                    input.input-control(type="text" name="phone-number" placeholder="092387110" value="")

                .form-cover
                  label.label-text Mật khẩu*:
                  input.input-control(type="password" name="password" placeholder="●●●●●●●●●●" value="")
                .form-cover
                  label.label-text Xác nhận mật khẩu*:
                  input.input-control(type="password" name="password" placeholder="●●●●●●●●●●" value="")

                .form-cover.form-checbox
                  label.label-checkbox
                    input(type="checkbox" name="agree")
                    span
                      | Tôi đồng ý với
                      a(href="#")  Cam kết danh dự*
                .form-submit
                  button.trans.btn-subbmit TẠO TÀI KHOẢN
                .forgot-password
                  a.trans(href="#") Quên mật khẩu?
          .content-tab.tab-form#link02
            h2.ttl-signup XIN VUI LÒNG ĐĂNG NHẬP
            p.sumary để truy cập tài khoản của bạn và các khóa học.
            .list-form
              form(action="#")
                .form-cover
                  label.label-text Tên đăng nhập/Email/Số điện thoại*:
                  input.input-control.italic(type="text" name="id" placeholder="Đây là Tên đăng nhập/ Địa chỉ Email hoặc số điện thoại mà bạn đã sử dụng để đăng ký" value="")
                .form-cover
                  label.label-text Mật khẩu:
                  input.input-control(type="password" name="password" placeholder="●●●●●●●●●●" value="")
                .form-cover.form-checbox
                  label.label-checkbox
                    input(type="checkbox" name="remember")
                    span Ghi nhớ mật khẩu cho lần đăng nhập sau
                .form-submit
                  button.trans.btn-subbmit ĐĂNG NHẬP
                .forgot-password
                  a.trans(href="#") Quên mật khẩu?

  section.section-purpose
    .container
      .inner
        h2.ttl-purpose
          | MỤC ĐÍCH CỦA
          br
          | KHOÁ ĐÀO TẠO - NGÀY ĐẦU TIÊN
        p Khóa học Ngày đầu tiên ra đời với mong muốn giúp đội ngũ Tư vấn viên có những thông tin chính thông và kỹ năng cần thiết để hỗ trợ bệnh nhân Tăng huyết áp & Đái tháo đường kiểm soát các yếu tố nguy cơ tim mạch, ngăn ngừa biến cố và giảm chi phí điều trị
        a.link-purpose.trans(href="#") Nhận thêm thông tin >


