extends _layouts/default

block vars
  -title        = 'title'
  -description  = 'description'
  -keywords     = 'keywords'
  -pageID       = 'top'
  -path         = '.'


block wrapper
  | &#x9;
  section.section-keyvisual
    .container
      .content-key
        h2.ttl-cmn
          span GIỚI THIỆU CHUNG
        p Các khóa học mang tính cải tiến vấn đề cốt lõi – các yếu tố trong môi trường sống của bệnh nhân (gia đình, bạn bè, bác sĩ, điều dưỡng…).
        p Từ đây nâng cao nhận thức của người dân về các bệnh không lây nhiễm và những căn bệnh liên quan tới tim mạch như Đái tháo đường và…
        a.viewmore.trans(href="#")
          span Xem thêm
  section.section-infor
    .top-infor
      .container
        .block-student
          .avatar
            img(src=path+"/img/avatar.png", alt="NGUYỄN PHƯƠNG THẢO")
            a.edit.trans(href="#")
          h2.name
            | NGUYỄN PHƯƠNG THẢO
            span (Bệnh viện Đa khoa Gia Lai)
          .text-infor
            span Email: nguyen.thao91@gmail.com
            | |
            span Điện thoại: 092387110
    .bot-infor
      .container
        .block-infor
          h2.ttl-cmn
            span THÔNG TIN HỌC VIÊN
          .row
            .col-lg-4
              .box-infor
                .head-infor
                  img(src=path+"/img/icon-infor01.png", alt="THÔNG TIN CƠ BẢN")
                  | THÔNG TIN CƠ BẢN
                .body-infor
                  table
                    tr
                      th Giới tính:
                      td Nữ
                    tr
                      th Ngày sinh:
                      td 01/10/1992
                    tr
                      th Nơi sinh:
                      td Khánh Hoà

            .col-lg-8
              .box-infor
                .head-infor
                  img(src=path+"/img/icon-infor02.png", alt="TRÌNH ĐỘ HỌC VẤN")
                  | TRÌNH ĐỘ HỌC VẤN
                .body-infor
                  table.tabble2
                    tr
                      th Bằng cấp:
                      td Bằng Đại Học
                    tr
                      th Trường tốt nghiệp:
                      td Đại học Y Dược TP.Hồ Chí Minh
                    tr
                      th Năm tốt nghiệp:
                      td 2020
            .col-12.box-experience
              .box-infor
                .head-infor
                  img(src=path+"/img/icon-infor03.png", alt="KINH NGHIỆM CHUYÊN MÔN")
                  | KINH NGHIỆM CHUYÊN MÔN
                .body-infor

                  table.tabble2
                    tr
                      th Cơ quan công tác:
                      td Bệnh viện Đa khoa Gia Lai
                    tr
                      th Tỉnh/Thành phố:
                      td Gia Lai
                    tr
                      th Khoa công tác:
                      td Khoa Nội Tổng Quát
                    tr
                      th Thâm niên công tác:
                      td 07 năm
                    tr
                      th Kinh nghiệm tư vấn bệnh nhân:
                      td 03 năm
  section.section-course
    .container
      h2.ttl-cmn.text-center
        span KHOÁ HỌC ĐÃ ĐĂNG KÍ
      .row.list-course
        .col-md-3
          .item-course.transall
            img(src=path+"/img/image01.jpg", alt="Quy trình tư vấn giáo dục sức khỏe cho bệnh nhân")
            .content
              h3.ttl-item Quy trình tư vấn giáo dục sức khỏe cho bệnh nhân
              a.trans(href="#") Chi tiết khoá học >
        .col-md-3
          .item-course.transall
            img(src=path+"/img/image02.jpg", alt="Giáo dục sức khỏe bệnh nhân Tăng huyết áp")
            .content
              h3.ttl-item Giáo dục sức khỏe bệnh nhân Tăng huyết áp
              a.trans(href="#") Chi tiết khoá học >
        .col-md-3
          .item-course.transall
            img(src=path+"/img/image03.jpg", alt="Giáo dục sức khỏe bệnh nhân Đái tháo đường")
            .content
              h3.ttl-item Giáo dục sức khỏe bệnh nhân Đái tháo đường
              a.trans(href="#") Chi tiết khoá học >
        .col-md-3
          .item-course.transall
            img(src=path+"/img/image04.jpg", alt="Thực hành kỹ thuật hướng dẫn và kỹ năng tư vấn")
            .content
              h3.ttl-item Thực hành kỹ thuật hướng dẫn và kỹ năng tư vấn
              a.trans(href="#") Chi tiết khoá học >
  section.section-purpose
    .container
      .inner
        h2.ttl-purpose
          | MỤC ĐÍCH CỦA
          br
          | KHOÁ ĐÀO TẠO - NGÀY ĐẦU TIÊN
        p Khóa học Ngày đầu tiên ra đời với mong muốn giúp đội ngũ Tư vấn viên có những thông tin chính thông và kỹ năng cần thiết để hỗ trợ bệnh nhân Tăng huyết áp & Đái tháo đường kiểm soát các yếu tố nguy cơ tim mạch, ngăn ngừa biến cố và giảm chi phí điều trị
        a.link-purpose.trans(href="#") Nhận thêm thông tin >


