@charset "utf-8"


/* ADDITIONAL RESET
 * -----------------------------------------------*/

*,
*:before,
*:after
  +box-sizing(border-box)

body *
  max-height: 99999em

img
  display: block
  max-width: 100%

input,
label,
select,
button,
textarea
  margin: 0
  border: 0
  padding: 0
  display: inline-block
  vertical-align: middle
  white-space: normal
  background: none
  font: inherit
  line-height: 1

input:focus,
button:focus,
select:focus
  outline: 0

/* Make webkit render the search input like a normal text field */
input[type=search]
  -webkit-appearance: textfield

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration
  display: none

/* Turn off scroll bars in IE unless needed */
textarea
  overflow: auto
  white-space: pre-line

@media (min-width: 1300px)
  .container
    max-width: 1230px
.dis-flex
  display: -webkit-box
  display: -ms-flexbox
  display: flex
/* PRINTING
 * -----------------------------------------------*/

@media print
  body
    -webkit-print-color-adjust: exact
  html,
  body
    margin: 0
  @page
    margin: 0
  @page :left
    margin: 0
  @page :right
    margin: 0
  @page :first
    margin-top: 0


/* GENERAL
 * -----------------------------------------------*/

body
  color: $base-font-color
  font-family: $base-font-roboto
  font-size: $base-font-size
  font-weight: $base-font-weight
  line-height: $base-line-height
  -webkit-text-size-adjust: none
  -moz-text-size-adjust: none
  -ms-text-size-adjust: none

/* HELPERS
 * -----------------------------------------------*/

a
  color: $base-font-color
  text-decoration: none

.hidden
  display: none

.invisible
  visibility: hidden

.text-left
  text-align: left

.text-center
  text-align: center

.text-right
  text-align: right

.text-justify
  text-align: justify

.text-nowrap
  white-space: nowrap

.text-lowercase
  text-transform: lowercase

.text-uppercase
  text-transform: uppercase

.text-capitalize
  text-transform: capitalize

.dis-flex
  display: -ms-flexbox
  display: flex
  -ms-flex-wrap: wrap
  flex-wrap: wrap


a:hover
  text-decoration: none
  color: $base-font-color
/* RESPONSIVE
 * -----------------------------------------------*/

+desktop

  .sm
    display: none !important

  .trans
    +opacity(1)
    +transition(opacity .26s ease)
    &:hover
      +opacity(0.8)
  .transall
    +transition(all .26s ease)
+mobile

  .md
    display: none !important

  html
    //font-size: calc(100vw / 7.68)

  body
    //font-size: .24rem
