include ../_mixins/_all

block vars
  -title        = ''
  -description  = ''
  -keywords     = ''
  -pageID       = ''
  -path         = ''

doctype html
html(lang="vi")
  head
    meta(charset="utf-8")
    meta(name="HandheldFriendly", content="True")
    meta(name="MobileOptimized", content="320")
    meta(name="format-detection", content="telephone=no")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    //[if IE]><meta http-equiv="cleartype" content="on"><![endif]
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=0", id="viewport")
    link(rel='shortcut icon', href=path+"/img/favicon.ico")
    meta(name="description", content=description)
    meta(name="keywords", content=keywords)
    title=title
    link(href='//fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500&display=swap', rel='stylesheet')
    link(href='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', rel='stylesheet')
    link(href=path+'/css/style.css' ,rel='stylesheet')

  body
    .main-container
      include ../_parts/header
      main
        block wrapper
      include ../_parts/footer
    script(src=path+"/js/jquery.min.js")
    script(src=path+"/js/scripts.js")
