footer.main-footer
  .container
    h2.ttl-footer
      span ngaydautien.vn
    .row
      .col-md-7
        h3.ttl-inner Về ngày đầu tiên
        p Trang tin Ngày đầu tiên ra đời với mong muốn giúp cộng đồng hiểu rõ hơn về 2 căn bệnh thầm lặng Tăng Huyết Áp và Đái Tháo Đường, nhận biết các nguy cơ cũng như lời khuyên để sống khỏe cùng bệnh.
        p Cùng hiểu hơn về Tăng Huyết Áp và Đái Tháo Đường qua loạt bài viết và thông tin y khoa chính thống từ cộng đồng Bác sĩ giàu kinh nghiệm. Được bảo trợ  bởi Hội Tim mạch học Việt Nam và Hội Nội Tiết và Đái Tháo Đường Việt Nam.
      .col-md-5
        h3.ttl-inner Bảo trợ thông tin
        .row
          .col-md-6
            .item-ft
              a(href="#")
                img(src=path+"/img/vha.jpg", alt="")
                span.transall Hội Tim Mạch Học Việt Nam

          .col-md-6
            .item-ft
              a(href="#")
                img(src=path+"/img/vade.jpg", alt="")
                span.transall Hội nội tiết & đái tháo đường Việt Nam

      .col-lg-7
        h3.ttl-inner Theo dõi chúng tôi
        .row
          .col.item-social.facebook
            a(href="#")
              img(src=path+"/img/icon-face.png", alt="facebook")
              span Tăng Huyết Áp
          .col.item-social.facebook
            a(href="#")
              img(src=path+"/img/icon-face.png", alt="facebook")
              span Đái Tháo Đường
          .col.item-social.youtube
            a(href="#")
              img(src=path+"/img/icon-yt.png", alt="facebook")
              span Ngày Đầu Tiên
  .wave-wrapper
    .ocean.wave-bottom
      .wave.wave-1.wave-white
      .wave.wave-2.wave-white
      .wave.wave-3.wave-white
  .nav-footer
    .container
      ul.dis-flex
        li
          a(href="#") GIỚI THIỆU NGÀY ĐẦU TIÊN
        li
          a(href="#") BAN ĐIỀU HÀNH
        li
          a(href="#") CHÍNH SÁCH BẢO MẬT
        li
          a(href="#") LIÊN HỆ
  .coppy-right
    .container
      .row
        .col-md-8
          p © 2016 - 2020 Bản quyền các bài viết thuộc Ngày Đầu Tiên.
          p Các bài viết của Ngày Đầu Tiên chỉ có tính chất tham khảo, không thay thế cho việc chẩn đoán hoặc điều trị.
        .col-md-4
          ul.list-protect.dis-flex.align-items-center
            li
              a.btn-group.dmca-badge(href='//www.dmca.com/Protection/Status.aspx?ID=6978703b-3615-4182-8c0f-3ab90371d1aa', rel='noreferrer', target='_blank', title='DMCA.com Protection Status')
                .btn.btn-sm.btn-success.text-dark
                  | DMCA
                .btn.btn-sm.btn-dark
                  | PROTECTED
                script(async='async', defer='defer', src='https://images.dmca.com/Badges/DMCABadgeHelper.min.js')

            li
              a.d-block(href='//www.copyscape.com/', rel='noreferrer', target='_blank', title='Protected by Copyscape - Do not copy content from this page.')
                span.btn.btn-sm.btn-dark
                  | © PROTECTED BY
                  | COPYSCAPE
