header.main-header
  .container.dis-flex.justify-content-between
    .left-header.dis-flex
      h1.logo
        a.trans(href="#")
          img(src=path+"/img/logo.svg", alt="ngày đầu tiên")
      nav.main-nav.js-navigation
        ul.dis-flex
          li
            a(href="#") Về dự án Ngày Đầu Tiên
          li
            a(href="#") Tìm hiểu về Tăng huyết áp
          li
            a(href="#") Tìm hiểu về Đái tháo đường
    form.box-search
      input(type="text" placeholder="Tìm Kiếm")
      button
        img(src=path+"/img/icon-search-2.svg", alt="Tìm Kiếm")
    .btn-menu.js-btn-menu
      span
      span
      span

